body
{
    background-image: url(../picture/PS/f0e0852959-2_2780x1200.jpg);
}

#PlayStation::-webkit-scrollbar 
{
    background: rgb(0,55,145);
    background-size: auto 100%;
}

#section-1, #home
{
    height: 100vmin;
    box-shadow: 0 0 1vmax 1vmax rgba(255, 255, 255,0.5);
}

#PlayStation > #section-1, #PlayStation > #home
{
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#PlayStation > #home > div
{
    animation: opacity 3s 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes opacity
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

#PlayStation > #section-1 > div
{
    width: 100vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "PS";
    src: url(../font/PsBold-2Oy2w.ttf);
}

@font-face {
    font-family: "PS-2";
    src: url(../font/zrnic___.ttf);
}

#PlayStation > #home > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#PlayStation > #home #PSH
{
    text-align: center;
}

#PlayStation > #home h3
{
    text-align: center;
}

#PSH
{
    font-family: 'PS-2';
    color: rgb(0, 55, 145);
}

#PlayStation > #section-1 h2
{
    font-family: 'PS';
}

#PlayStation > #section-1 img
{
    width: 100vmin;
    height: 50vmin;
    animation: none;
}

#ps5img
{
    transition: 2s;
}

@keyframes ps5png
{
    from
    {
        transform: translateY(25vmin);
        opacity: 0;
    }
    to
    {
        transform: translateY(0vmin);
        opacity: 1;
    }
}

#PlayStation > #section-2
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

#PlayStation > #section-3
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

@keyframes lblock
{
    from
    {
        transform: translateX(-100vw);
        opacity: 0;
    }
    to
    {   
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes rblock
{
    from
    {
        transform: translateX(100vw);
        opacity: 0;
    }
    to
    {   
        transform: translateX(0vw);
        opacity: 1;
    }
}

#PlayStation > #section-2 > div, #PlayStation > #section-3 > div
{
    background-color: white;
    border-radius: 2vmax;
    width: 67vw;
    height: 62vh;
    padding: 1vw 1vh;
    margin: 5vw 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1vmax 1vmax rgba(255, 255, 255,0.5);
}

#PlayStation > #section-2 img, #PlayStation > #section-3 img
{
    width: 30vmax;
    height: 30vmax;
}

#lblock
{
    width: 35vmax;
    height: 30vmax;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 1vw;
}

#lblock > h3
{
    font-family: 'PS-2';
}

#lblock > p
{
    text-align: left;
}


#rblock
{
    width: 35vmax;
    height: 30vmax;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 1vw;
}

#rblock > h3
{
    font-family: 'PS-2';
}

#rblock > p
{
    text-align: right;
}

@media (orientation: portrait)
{
    #PlayStation > #section-2 > div, #PlayStation > #section-3 > div
    {
        flex-direction: column;
    }

    #lblock, #rblock
    {
        align-items: center;
    }

    #lblock > p, #rblock > p
    {
        text-align:center;
    }

    #PlayStation > #section-2 > div, #PlayStation > #section-3 > div
    {
        width: 52vw;
    }
}

@media (orientation: portrait) and (max-width: 729px)
{
    #PlayStation > #section-2, #PlayStation > #section-3
    {
        justify-content: center;
    }

    #PlayStation > #section-2 > div, #PlayStation > #section-3 > div
    {
        flex-direction: column;
    }

    #lblock, #rblock
    {
        align-items: center;
    }

    #lblock > p, #rblock > p
    {
        text-align:center;
    }

    #PlayStation > #section-2 > div, #PlayStation > #section-3 > div
    {
        width: 80vw;
    }
}

#section-4 > video
{
    width: calc(5vw * 16);
    height: calc(5vw * 9);
    background-color: white;
    border-radius: 2vmax;
    box-shadow: 0 0 1vmax 1vmax rgba(255, 255, 255,0.5);
}

@media (orientation: portrait) and (max-width: 729px)
{
    #section-4
    {
        height: 60vh;
    }

    #section-4 > video
    {
        width: calc(6vw * 16);
        height: calc(6vw * 9);
    }
}

#section-5
{
    background-image: url("../picture/PS/3txXKjRvj3U.jpg");
    background-size: cover;
    background-position: center;
    height: 50vmin;
    box-shadow: 0 0 1vmax 1vmax rgba(0,0,0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#pngh4
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#pngh4 > *
{
    color: white;
    text-shadow: 1px 1px rgb(0, 55, 145), 1px -1px rgb(0, 55, 145), -1px 1px rgb(0, 55, 145), -1px -1px rgb(0, 55, 145), 3px 3px 6px rgba(0,0,0,0.5);
}

#section-6, #section-7
{
    background-color: white;
}



.PsCardExc
{
    width: 22vw;
    height: 35vw;
    border-radius: 1vw;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0.5vw 0.5vw rgba(0,0,0, 0.5);
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.PsCardExc > div
{
    width: 22vw;
    height: 35vw;
    background: linear-gradient(0deg, rgba(0, 55, 145,1),rgba(0, 55, 145,0.9),rgba(0, 55, 145,0.8),rgba(0, 55, 145,0.7),rgba(0, 55, 145,0.6),rgba(0, 55, 145,0.5),rgba(0, 55, 145,0.3),rgba(0, 55, 145,0.2),rgba(0, 55, 145,0.1),rgba(0, 55, 145,0));
    border-radius: 0 0 1vw 1vw;
    transform: translateY(35vw);
    transition: 2s transform;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.PsCardExc > div > *
{
    margin-left: 1vw;
    margin-bottom: 1vh;
    margin-right: 1vw;
    color: white;
    text-align: left;
}

.PsCardExc > div > a
{
    width: 9vw;
    height: 3vw;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    border: none;
    border-radius: 3vw;
    outline: 0.3vmin solid rgba(0,0,0,0);
    outline-offset: 0.3vmin;
    transition: 0.5s outline;
}

.PsCardExc > div > a:hover
{
    outline-color: rgba(255,0,0,1);
}

.PsCardExc:hover > div
{
    transform: translateY(0);
}

#section-6
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(35vw * 5 + 6vw * 4);
    overflow: hidden;
}

#container
{
    display: grid;
    grid-template-columns: repeat(4, 22vw);
    grid-template-rows: repeat(5, 35vw);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
}

#Other a
{
    background-color: rgb(0, 112, 204);
}

#Other a:hover
{
    outline-color: rgb(0, 112, 204);
}

@media (orientation: portrait)
{
    .PsCardExc
    {
        width: 45vw;
        height: 65vw;
        border-radius: 1vw;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 1vw 1vw rgba(0,0,0, 0.5);
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .PsCardExc > div
    {
        width: 45vw;
        height: 65vw;
        background: linear-gradient(0deg, rgba(0, 55, 145,1),rgba(0, 55, 145,0.9),rgba(0, 55, 145,0.8),rgba(0, 55, 145,0.7),rgba(0, 55, 145,0.6),rgba(0, 55, 145,0.5),rgba(0, 55, 145,0.3),rgba(0, 55, 145,0.2),rgba(0, 55, 145,0.1),rgba(0, 55, 145,0));
        border-radius: 0 0 1vw 1vw;
        transform: translateY(65vw);
        transition: 2s transform;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .PsCardExc > div > *
    {
        margin-left: 1vw;
        margin-bottom: 1vh;
        margin-right: 1vw;
        color: white;
        text-align: left;
    }

    .PsCardExc > div > a
    {
        width: 12vw;
        height: 4vw;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vmax;
        border: none;
    }

    .PsCardExc:hover > div
    {
        transform: translateY(0);
    }

    #section-6
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(65vw * 10 + 12vw * 4);
        overflow: hidden;
    }

    #container
    {
        display: grid;
        grid-template-columns: repeat(2, 45vw);
        grid-template-rows: repeat(10, 65vw);
        grid-column-gap: 4vw;
        grid-row-gap: 4vw;
    }

    #section-6 #container .PsCardExc *
    {
        font-size: 4vw;
    }

    #section-6 #container .PsCardExc h6
    {
        font-size: 6vw;
    }

    #section-6 #container .PsCardExc a
    {
        width: 30vw;
        height: 8vw;
        border-radius: 8vw;
    }
}

@media (orientation: portrait) and (max-width: 729px)
{
    #section-6
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(120vw * 20 + 48vw * 4);
        overflow: hidden;
    }

    #container
    {
        display: grid;
        grid-template-columns: repeat(1, 80vw);
        grid-template-rows: repeat(20, 120vw);
        grid-column-gap: 9vw;
        grid-row-gap: 9vw;
    }

    .PsCardExc
    {
        width: 80vw;
        height: 120vw;
        border-radius: 5vw;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 1vw 1vw rgba(0,0,0, 0.5);
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .PsCardExc > div
    {
        width: 80vw;
        height: 120vw;
        background: linear-gradient(0deg, rgba(0, 55, 145,1),rgba(0, 55, 145,0.9),rgba(0, 55, 145,0.8),rgba(0, 55, 145,0.7),rgba(0, 55, 145,0.6),rgba(0, 55, 145,0.5),rgba(0, 55, 145,0.3),rgba(0, 55, 145,0.2),rgba(0, 55, 145,0.1),rgba(0, 55, 145,0));
        border-radius: 0 0 5vw 5vw;
        transform: translateY(120vw);
        transition: 2s transform;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

#LastGuardin
{
    background-image: url("../picture/PS/последний страж обрезанный.png");
    background-position: left;
}

#Ragnarok
{
    background-image: url("../picture/PS/рагнарёк шакальный.png");
}

#UntilDown
{
    background-image: url("../picture/PS/унитаз даун.jpg");
    background-position: 0%;
}

#Blodborne
{
    background-image: url("../picture/PS/blodborne.jpg");
}

#DaysGone
{
    background-image: url("../picture/PS/days-gone.jpg");
}

#DeathStranding
{
    background-image: url("../picture/PS/death stranding.png");
}

#DemonSouls
{
    background-image: url("../picture/PS/demon souls.jpg");
}

#Detroit
{
    background-image: url("../picture/PS/detroit.jpg");
}

#Ghost
{
    background-image: url("../picture/PS/ghost.jpg");
}

#Horizon
{
    background-image: url("../picture/PS/horizon.jpg");
}

#Ratchet
{
    background-image: url("../picture/PS/ratchet-and-clank-rift-apart-b0-800x1280.jpg");
}

#Returnal
{
    background-image: url("../picture/PS/returnal.jpg");
}

#ShadowOfColosus
{
    background-image: url("../picture/PS/shadow-of-the-colossus.jpg");
}

#SpiderMam
{
    background-image: url("../picture/PS/spider-man-2018-spider-man.jpg");
}

#BlackSpiderMam
{
    background-image: url("../picture/PS/marvel-spider-man-miles-morales-iz-1280x2120.jpg");
}

#TheLastOffAss2
{
    background-image: url("../picture/PS/the last of ass 2.jpg");
}

#Uncharted
{
    background-image: url("../picture/PS/uncharted.jpg");
}

#GranTurismo
{
    background-image: url("../picture/PS/GTS7.jpg");
}

#Astro
{
    background-image: url("../picture/PS/APR.jpg");
}

#Other
{
    background-image: url("../picture/PS/psstore.jpg");
}

#section-7
{
    background-color: black;
    box-shadow: 0 0 1vmax 1vmax rgba(0,0,0, 0.5);
    overflow: hidden;
}

#section-7 > div > img
{
    width: 30vmin;
    height: 30vmin;
}

#section-7 > div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#section-7 > div > h1
{
    color: white;
    font-family: "PS-2";
}

#bigH4
{
    font-weight: 900;
    margin-left: 5vmin;
}

#smallH4
{
    font-weight: 100;
}

#section-8
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

#startPsPlus
{
    width: 60vw;
    height: 60vh;
    background-color: white;
    border-radius: 2vmax;
    margin-left: 10vw;
    box-shadow: 0 0 1vmax 1vmax rgba(255,255,255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxPsPlusH
{
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#boxPsPlusH > h2, #boxPsPlusH > p
{
    text-align: left;
}

@media (orientation: portrait) and (max-width: 729px)
{
    #section-8
    {
        justify-content: center;
    }

    #startPsPlus
    {
        width: 80vw;
        margin-left: 0vw;
        height: 50vh;
    }

    #boxPsPlusH
    {
        width: 60vw;
        align-items: center;
    }

    #boxPsPlusH > h2, #boxPsPlusH > p
    {
        text-align: center;
    }
}


#boxPsPlusH > h2 + h2
{
    font-family: "PS-2";
    color: rgb(245,216,73);
    margin-top: 0;
}

#boxPsPlusH > a
{
    width: 40vw;
    height: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 112, 204);
    color: white;
    border-radius: 5vmin;
    outline: 0.3vmin solid rgba(0,0,0,0);
    border: none;
    outline-offset: 0.3vmin;
    transition: 0.5s outline;
    text-align: center;
}

#boxPsPlusH > a:hover
{
    outline-color: rgba(0, 112, 204,1);
}

#boxPsPlusH > *
{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#section-9
{
    box-shadow: 0 0 1vw 1vw rgba(0,0,0,0.5);
}

#section-9, #section-12, #section-15
{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35vh;
}

#section-9 > *, #section-12 > *, #section-15 > *
{
    color: white;
    text-align: center;
}

#section-9 > h5 + p, #section-12 > h5 + p, #section-15 > h5 + p
{
    width: 40vw;
}

#section-10, #section-13
{
    background-color: rgb(33,33,33);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
}

#section-10 > div, #section-13 > div
{
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5vw;
}

#section-10 > div + div, #section-13 > div + div
{
    align-items: center;
}

@media (orientation: portrait)
{
    #section-10, #section-13
    {
        flex-direction: column;
        height: 80vh;
    }

    #section-10 > div, #section-13 > div
    {
        height: 30vh;
    }
}

#section-10 > div > *,#section-13 > div > *
{
    color: white;
    text-align: left;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#section-10 img, #section-11 img
{
    width: 40vmax;
    height: 30vmax;
}

#section-11,#section-14 
{
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
}

#section-11 > div,#section-14 > div
{
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5vw;
}

#section-11 > div + div,#section-14 > div + div
{
    align-items: center;
}

#section-13 img,#section-14 img
{
    width: 40vmax;
    height: 25vmax;
}

@media (orientation: portrait)
{
    #section-11, #section-14
    {
        flex-direction: column;
        height: 80vh;
    }

    #section-11 > div, #section-14 > div
    {
        height: 30vh;
    }
}

#section-11 > div > *,#section-14 > div > *
{
    color: white;
    text-align: left;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#section-12, #section-13, #section-14
{
    background-color: rgb(245,216,73);
}

#section-12 *, #section-13 *, #section-14 *, #section-12 > div *, #section-13 > div *, #section-14 > div *
{
    color: black;
}

#section-13 img
{
    width: 40vmax;
    height: 25vmax;
}

#section-16
{
    box-shadow: 0 0 1vw 1vw rgba(255,255,255,0.5);
}

#section-15 *, #section-16 *, #section-15, #section-16
{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (orientation: portrait) and (max-width: 729px)
{
    #section-9 > h5 + p, #section-12 > h5 + p, #section-15 > h5 + p
    {
        width: 80vw;
    }

    #section-10 > div > *,#section-13 > div > *,#section-10 > div,#section-13 > div,#section-11 > div > *,#section-14 > div > *,#section-11 > div,#section-14 > div
    {
        width: 80vw;
    }
}

#section-16 > div > *
{
    margin: 1vmax 0;
}

#section-16 > div > img
{
    width: 10vmax;
    height: 10vmax;
}

#section-15 > h5 + p
{
    width: 60vw;
    text-align: center;
}

#section-16
{
    height: 70vmax;
    display: grid;
    grid-template-columns: repeat(3, 25vmax);
    grid-template-rows: repeat(2, 30vmax);
    grid-column-gap: 5vmax;
    grid-row-gap: 5vmax;
}

#section-16 > div
{
    width: 25vmax;
    height: 30vmax;
}

@media (orientation: portrait)
{
    #section-16
    {
        grid-template-columns: repeat(2, 40vmin);
        grid-template-rows: repeat(3, 50vmin);
        height: 180vmin;
    }

    #section-16 > div
    {
        width: 40vmin;
        height: 50vmin;
    }

    #section-16 > div > *
    {
        width: 40vmin;
    }
}

@media (orientation: portrait) and (max-width: 729px)
{
    #section-16
    {
        grid-template-columns: repeat(2, 40vmin);
        grid-template-rows: repeat(3, 70vmin);
        height: 270vmin;
    }

    #section-16 > div
    {
        width: 40vmin;
        height: 70vmin;
    }

    #section-16 > div > *
    {
        width: 40vmin;
    }
}










#section-17
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

@media (orientation: portrait)
{
    #section-17
    {
        flex-direction: column;
        height: 210vh;
    }
}

#section-17 > div:hover
{
    transform:scale(1.1,1.1);
}

#section-17 #blockLuks
{
    height: 66vh;
}

#section-17 #blockExtra
{
    height: 58vh;
}

#section-17 #blockBase
{
    height: 57vh;
}

#section-17 > div
{
    width: 25vw;
    height: 60vh;
    border-radius: 1vmax;
    background-color: white;
    box-shadow: 0 0 1vmax 1vmax rgba(255,255,255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 2s transform;
}

#section-17 > div > div
{
    width: 20vw;
    height: 10vh;
    border-radius: 1vmax;
    margin: 2.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#section-17 > div > div > h6
{
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#section-17 li
{
    list-style-type: none;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#section-17 li::after
{
    content: "✓";
}

#section-17 > div > div > p
{
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#section-17 #base
{
    height: 15vh;
}

#extra > *, #base > *
{
    color: black;
}

#section-17 #luks
{
    background-color: black;
    box-shadow: 0 0 0.5vmax 0.5vmax rgba(0,0,0, 0.5);
    height: 12vh;
}

#luks > h6
{
    color: rgb(245,216,73);
}

#luks > p
{
    color: white;
}

#extra
{
    background-color: rgb(245,216,73);
    box-shadow: 0 0 0.5vmax 0.5vmax rgba(245,216,73, 0.5);
}

#base
{
    background-color: white;
    box-shadow: 0 0 0.5vmax 0.5vmax rgba(186,186,186,0.5);
    z-index: 2;
}

#section-17 > div > a
{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 20vw;
    height: 4vh;
    border-radius: 3vmax;
    outline: 0.3vmin solid rgba(0,0,0,0);
    outline-offset: 0.3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s outline;
}

@media (orientation: portrait)
{
    #section-17 > div
    {
        width: 60vw;
    }

    #section-17 #blockLuks
    {
        height: 56vh;
    }

    #section-17 #blockExtra
    {
        height: 48vh;
    }

    #section-17 #blockBase
    {
        height: 47vh;
    }

    #section-17 > div > div
    {
        width: 50vw;
    }

    #section-17 li
    {
        width: 50vw;
    }

    #section-17 > div > a
    {
        width: 50vw;
    }
}

#section-17 > #blockLuks > a
{
    background-color: black;
    color: rgb(245,216,73);
}

#section-17 > #blockLuks > a:hover
{
    outline-color: black;
}

#section-17 > #blockExtra > a
{
    background-color: rgb(245,216,73);
    color: black;
}

#section-17 > #blockExtra > a:hover
{
    outline-color: rgb(245,216,73);
}

#section-17 > #blockBase > a
{
    background-color: rgb(0, 112, 204);
    color: white;
}

#section-17 > #blockBase > a:hover
{
    outline-color: rgb(0, 112, 204);
}

#section-18 > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 40vh;
    border-radius: 2vmax;
    background-color: white;
    box-shadow: 0 0 1vmax 1vmax rgba(255,255,255,0.5);
}

#section-18 > div > *
{
    text-align: center;
}

@media (orientation: portrait)
{
    #section-18 > div
    {
        height: 20vh;
    }
}

#section-18 > div > h4 + h4
{
    font-family: "PS-2";
    color: rgb(0, 112, 204);
    font-size: 4vmax;
}



#section-19,#section-20,#section-21,#section-22,#section-23,#section-24
{
    overflow: hidden;
}

.section-hard
{
    width: 70vw;
    height: 40vh;
    background-color: white;
    border-radius: 2vmax;
    box-shadow: 0 0 1vmax 1vmax rgba(255,255,255,0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5vh;
}

.section-hard > div
{
    width: 28vw;
    margin: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.section-hard > div + div
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section-hard h6, .section-hard p
{
    text-align: left;
    width: 28vw;
}

@media (orientation: portrait)
{
    #section-19,#section-20,#section-21,#section-22,#section-23,#section-24
    {
        height: 120vh;
    }

    .section-hard
    {
        flex-direction: column;
        height: 50vh;
        width: 50vw;
    }

    .section-hard > div
    {
        align-items: center;
    }

    .section-hard > div + div
    {
        align-items: center;
    }

    .section-hard h6, .section-hard p
    {
        width: 40vw;
        text-align: center;
    }
}

@media (orientation: portrait) and (max-width: 729px)
{
    #section-19,#section-20,#section-21,#section-22,#section-23,#section-24
    {
        height: 120vh;
    }

    .section-hard
    {
        flex-direction: column;
        height: 50vh;
        width: 80vw;
    }

    .section-hard > div
    {
        align-items: center;
    }

    .section-hard > div + div
    {
        align-items: center;
    }

    .section-hard h6, .section-hard p
    {
        width: 40vw;
        text-align: center;
    }
}

.section-hard img
{
    width: 35vmax;
    height: 20vmax;
    box-shadow: 0 0 1vmax 1vmax rgba(122,122,122,0.5);
    border-radius: 2vmax;
    transition: 2s;
}

.section-hard img:hover
{
    transform: scale(1.3,1.3);
}

.section-hard-revers
{
    display: flex;
    flex-direction: row-reverse;
}

.section-hard-revers > div
{
    align-items: flex-start;
}

.section-hard-revers > div + div
{
    align-items: flex-end;
}

.section-hard > div > *
{
    margin: 2vh 0;
}

@media (orientation: portrait)
{
    .section-hard-revers
    {
        flex-direction: column-reverse;
    }

    .section-hard-revers > div
    {
        align-items: center;
    }

    .section-hard-revers > div + div
    {
        align-items: center;
    }
}

@media (orientation: portrait) and (max-width: 729px)
{
    .section-hard > div + div, .section-hard > div + div > *
    {
        width: 70vw;
    }

    .section-hard
    {
        margin: 5vh 0;
    }

    .section-hard img
    {
        width: 28vmax;
        height: 16vmax;
    }

    .section-hard img:hover
    {
        transform: scale(1.2,1.2);
    }
}

#section-25
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

#section-26
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

#block-ps5, #block-ps5DE
{
    width: 60vw;
    height: 60vh;
    background-color: white;
    border-radius: 3vmax;
    display: flex;
    box-shadow: 0 0 1vw 1vw rgba(255,255,255,0.5);
}

#block-ps5
{
    margin-left: 5vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#block-ps5DE
{
    margin-right: 5vw;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

#block-ps5 > div > img, #block-ps5 > div, #block-ps5DE > div > img, #block-ps5DE > div
{
    width: 30vw;
    height: 30vw;
}

#block-ps5 > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0 0 0 1vw;
}

#block-ps5DE > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 1vw 0 0;
}

#block-ps5 > div > *
{
    text-align: right;
    margin: 1vw 1vw;
}

#block-ps5 > div > div > div, #block-ps5 > div > a,#block-ps5DE > div > div > div, #block-ps5DE > div > a
{
    width: 6vw;
    height: 2vw;
    border-radius: 3vw;
    box-shadow: 0 0 0.3vw rgb(122,122,122);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    outline: 0.2vw solid rgba(0,0,0,0);
    outline-offset: 0.3vw;
    transition: 2s outline-color;
}

#block-ps5 > div > div
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 3vw;
}

#block-ps5DE > div > div
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3vw;
}

#block-ps5 > div > a, #block-ps5DE > div > a
{
    background-color: rgb(0, 112, 204);
    color: white;
    width: 12vw;
    height: 3vw;
}

@media (orientation: portrait)
{

    #block-ps5
    {
        flex-direction: column;
    }

    #block-ps5DE
    {
        flex-direction: column-reverse;
    }

    #block-ps5 > div, #block-ps5DE > div
    {
        align-items: center;
    }

    #block-ps5 > div > *,#block-ps5DE > div > *
    {
        text-align: center;
    }

    #block-ps5 > div,#block-ps5DE > div
    {
        width: 50vw;
    }

    #block-ps5 > div > div > div, #block-ps5DE > div > div > div
    {
        height: 3vw;
        width: 9vw;
    }
}

@media (orientation: portrait) and (max-width: 729px)
{

    #section-25, #section-26
    {
        justify-content: center;
    }

    #block-ps5
    {
        flex-direction: column;
        margin-left: 0vw;
        width: 80vw;
        height: 65vh;
    }

    #block-ps5DE
    {
        flex-direction: column-reverse;
        margin-right: 0vw;
        width: 80vw;
        height: 65vh;
    }

    #block-ps5 > div, #block-ps5DE > div
    {
        align-items: center;
        width: 70vw;
    }

    #block-ps5 > div > *,#block-ps5DE > div > *
    {
        text-align: center;
        width: 70vw;
    }

    #block-ps5 > div > a,#block-ps5DE > div > a
    {
        height: 6vw;
        width: 18vw;
    }

    #block-ps5 > div > div, #block-ps5DE > div > div
    {
        justify-content: center;
    }

    #block-ps5 > div > div > div, #block-ps5DE > div > div > div
    {
        height: 4vw;
        width: 12vw;
    }

    #block-ps5 > div > img, #block-ps5 > div, #block-ps5DE > div > img, #block-ps5DE > div
    {
        width: 70vw;
        height: 70vw;
    }
}

#block-ps5DE > div > *
{
    margin: 1vw 1vw;
}

#block-ps5 > div > h5, #block-ps5DE > div > h5
{
    font-family: "PS-2";
}

#block-ps5 > div > div > div:hover,#block-ps5DE > div > div > div:hover
{
    outline-color: rgb(186,186,186);
}

#block-ps5 > div > a:hover, #block-ps5DE > div > a:hover
{
    outline-color: rgb(0, 112, 204);
}

#section-27 > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 40vh;
    border-radius: 2vmax;
    background-color: white;
    box-shadow: 0 0 1vmax 1vmax rgba(255,255,255,0.5);
}

@media (orientation: portrait)
{
    #section-27 > div
    {
        height: 20vh;
    }
}

@media (orientation: portrait) and (max-width: 729px)
{
    #section-27 > div
    {
        height: 20vh;
    }

    #section-27 > div > *
    {
        text-align: center;
    }
}

#section-28
{
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-28 > div
{
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 50vh);
    grid-row-gap: 10vh;
    grid-column-gap: 6vw;
}

#section-28 > div > div
{
    background-color: white;
    border-radius: 2vmax;
    box-shadow: 0 0 1vmax 1vmax rgba(255,255,255,0.5);
}

#section-28 > div > div > div
{
    width: 25vw;
    height: 4vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media (orientation: portrait)
{
    #section-28
    {
        height: 150vh;
    }

    #section-28 > div
    {
        grid-template-columns: repeat(3, 28vw);
        grid-template-rows: repeat(3, 40vh);
        grid-row-gap: 10vh;
        grid-column-gap: 6vw;
    }
}

@media (orientation: portrait) and (max-width: 729px)
{
    #section-28
    {
        height: 550vh;
    }

    #section-28 > div
    {
        grid-template-columns: repeat(1, 80vw);
        grid-template-rows: repeat(9, 50vh);
        grid-row-gap: 10vh;
        grid-column-gap: 6vw;
    }

    #section-28 > div > div > div
    {
        width: 60vw;
    }
}

#section-28 > div > div
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5vmax;
    overflow: hidden;
}

#section-28 > div > div > img
{
    width: 23vmax;
    height: 15vmax;
    border-radius: 2vmax;
    overflow: hidden;
}

#section-28 > div > div > h6
{
    text-align: center;
}

#section-28 > div > div > a
{
    width: 15vmax;
    height: 3vmax;
    border-radius: 3vmax;
    background-color: rgb(0, 112, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    outline: 0.2vmax solid rgba(0,0,0,0);
    outline-offset: 0.3vmax;
    transition: 2s outline-color;
}

#section-28 > div > div > a:hover
{
    outline-color: rgb(0, 112, 204);
}

#section-28 > div > div > div > div
{
    width: 2vmax;
    height: 2vmax;
    border-radius: 2vmax;
    transition: 1.5s outline-color;
    outline: 0.2vmax solid rgba(0,0,0,0);
    outline-offset: 0.3vmax;
    color: rgb(0, 112, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-28 #white
{
    background-color: white;
    box-shadow: 0 0 0.3vmax rgb(122,122,122);
}

#section-28 #black
{
    background-color: black;
    box-shadow: 0 0 0.3vmax rgb(0,0,0);
}

#section-28 #red
{
    background-color: #a91d4e;
    box-shadow: 0 0 0.3vmax #a91d4e;
}

#section-28 #blue
{
    background-color: aqua;
    box-shadow: 0 0 0.3vmax aqua;
}

#section-28 #pink
{
    background-color: rgb(235,62,153);
    box-shadow: 0 0 0.3vmax rgb(235,62,153);
}

#section-28 #purple
{
    background-color: rgb(71,45,150);
    box-shadow: 0 0 0.3vmax rgb(71,45,150);
}

#section-28 #gray
{
    background-color: #8A8A8A;
    box-shadow: 0 0 0.3vmax #8A8A8A;
}

#section-28 #white:hover
{
    outline-color: rgba(122,122,122, 0.5);
}

#section-28 #black:hover
{
    outline-color: black;
}

#section-28 #red:hover
{
    outline-color: #a91d4e;
}

#section-28 #blue:hover
{
    outline-color: aqua;
}

#section-28 #pink:hover
{
    outline-color: rgb(235,62,153);
}

#section-28 #purple:hover
{
    outline-color: rgb(71,45,150);
}

#section-28 #gray:hover
{
    outline-color: #8A8A8A;
}

#section-28 #DualCharge > img
{
    width: 19vmax;
    height: 15vmax;
}

#section-28 #DualSenseEdge > img
{
    width: 15vmax;
    height: 18vmax;
}

#section-28 #DualSenseEdge > div > div
{
    width: 8vmax;
}

#section-28 #Pulse3D
{
    overflow: hidden;
}

#section-28 #Pulse3D > img
{
    width: 27vmax;
}

#section-28 #MediaRemote > img
{
    width: 21vmax;
}

#section-28 #PS5Panel > img
{
    width: 19vmax;
}
