*
{
    padding: 0; 
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    min-width: 320px;
}

body > *
{
    min-width: 320px;
}

#start
{
    background: rgb(75, 75, 75);
}

#PlayStation
{
    background-color: rgb(0, 55, 145);
}

#XBOX
{
    background-color: rgb(16, 124, 16);
}

#Nintendo
{
    background-color: rgb(230, 0, 18);
}

#Steam
{
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar 
{
    width: 1.5vmin;
    background-image: linear-gradient(45deg,red,blue,yellow,green);
    background-size: auto 300%;
    background-position: top;
    border: 0.2vmin solid black;
}

::-webkit-scrollbar:hover
{
    transition: 2s;
    background-position: bottom;
}


::-webkit-scrollbar-thumb
{
    background: rgba(255, 255, 255,1);
    border: 0.25vmin solid black;
}

::-webkit-scrollbar-thumb:hover
{
    background: rgba(255, 255, 255,0.5);
}

html
{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

:root
{
    font-size: 1.4vmax;
}


a, p, h6, h5, h4, h3, h2, h1
{
    font-family:'Times New Roman', Times, serif;
}

a, p
{
    font-size: 1.4vmax;
}

h6
{
    font-size: 2vmax;
}

h5
{
    font-size: 2.5vmax;
}

h4
{
    font-size: 3vmax;
}

h3
{
    font-size: 3.5vmax;
}

h2
{
    font-size: 4vmax;
}

h1
{
    font-size: 4.5vmax;
}

header
{
    width: 100%;
    height: 12vh;
    background-color: rgb(33, 33, 33);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
    border-bottom: 0.2vmin solid white;
    border-top: 0.2vmin solid white;
}

header img
{
    height: 7vh;
    width: 7vh;
    margin-left: 7vh;
    margin-right: 7vh;
    transition: 1s transform;
    animation: logo 2s;
    animation-iteration-count: 1;
}

nav > a
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vmin;
    width: 12vh;
    height: 6vh;
    margin-left: 1vh;
    margin-right: 1vh;
    border: 0.2vmin solid rgb(33, 33, 33);
    transition: border 1s,background-color 1s;
    color: white;
    text-decoration: none;
}

header a, header p
{
    font-size: 2.2vh;
}

footer
{
    width: 100%;
    height:22vh;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-top: 0.2vmin solid white;
    border-bottom: 0.2vmin solid white;
}

footer > p
{
    width: 40vw;
    height: 12vh;
    margin: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav
{
    margin-right: 7vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#home
{
    padding-top: 7vh;
}

@media (orientation: portrait)
{
    header
    {
        height: 18vh;
    }

    nav
    {
        margin-right: 0vh;
        width: 30vh;
        height: 18vh;
        align-items: center;
    }

    #home
    {
        padding-top: 18vh;
    }
}

@media (orientation: portrait) and (max-width: 729px)
{
    header
    {
        height: 14vh;
    }

    nav
    {
        margin-right: 0vh;
        width: 25vh;
        height: 12vh;
        align-items: center;
    }

    nav > a
    {
        height: 4vh;
        width: 10vh;
        font-size: 1.6vh;
    }

    #home
    {
        padding-top: 14vh;
    }

    header img
    {
        height: 4vh;
        width: 4vh;
        margin-left: 3vh;
        margin-right: 3vh;
    }

    footer
    {
        height: 28vh;
    }
    
}

@keyframes logo
{
    from
    {
        transform: translateX(-20vmin);
    }
    to
    {
        transform: translateX(0vmin);
    }
}

header img:hover
{
    transform: scale(1.3,1.3);
}

nav > a:hover
{
    border: 0.2vmin solid white;
}

nav > a[href="playstation.html"]:hover,nav > a[href="html/playstation.html"]:hover
{
    background-color: rgb(0, 55, 145);
}

nav > a[href="xbox.html"]:hover,nav > a[href="html/xbox.html"]:hover
{
    background-color: rgb(16, 124, 16);
}

nav > a[href="nintendo.html"]:hover,nav > a[href="html/nintendo.html"]:hover
{
    background-color: rgb(230, 0, 18);
}

nav > a[href="steam.html"]:hover,nav > a[href="html/steam.html"]:hover
{
    background-color: rgb(0, 0, 0);
}

nav > a[href="start.html"]:hover,nav > a[href="html/start.html"]:hover
{
    background-color: rgb(75, 75, 75);
}

section
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

a
{
    text-decoration: none;
}
